kind: Deployment
apiVersion: apps/v1
metadata:
  name: quotesweb
  labels:
    app: quotesweb
    sandbox: learn-kubernetes
    learn-kubernetes: quotesweb
spec:
  replicas: 2
  strategy:
    type: Recreate
    rollingUpdate: null
  selector:
    matchLabels:
      app: quotesweb
  template:
    metadata:
      labels:
        app: quotesweb
    spec:
      containers:
        - name: quotes
          image: docker.io/daszkiewiczk/quotesweb:v2
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
              protocol: TCP
